<!DOCTYPE html>
<html lang="en">

{{> header}}

<body id="page-top">
  <!-- Navigation Bar-->
  {{> navigation}}


  <div id="wrapper">
    <!-- Sidebar -->
    {{> side}}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            Taxi Amigo
          </li>
          <li class="breadcrumb-item active">{{page_title}}</li>
        </ol>

        <!-- Page Content -->
        <h1>{{page_title}}</h1>
        <hr>

      </div>
      <!-- /.container-fluid -->


      <div class="container">

        <div class="row">
          <div class="col">
            <div class="alert alert-success" role="alert">
              <h5>Cuotas</h5>
            </div>

            <div class="jumbotron jumbotron-fluid">
              <div class="container">

                <form>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Unidad</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Número de Unidad">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Periodo</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Semana - Año">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Nombre del Conductor">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Comentarios</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Comentarios (opcional)">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="alert alert-warning" role="alert">
              <h5>Penalizaciones</h5>
            </div>


            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <form>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Unidad</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Número de Unidad">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Motivo</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Motivo de penalización">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Conductor</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Nombre del Conductor">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container">

          <div class="alert alert-warning" role="alert">
            <div class="row">
              <div class="col">
                <h5>Penalizaciones</h5>
              </div>
              <div class="col">
                <input class="form-control" id="myInputPen" type="text" placeholder="Buscar..">
              </div>
            </div>
          </div>

          <table class="table table-sm table-hover">
            <thead class="thead-light">

              <tr>
                <th scope="col">#</th>
                <th scope="col">Unidad</th>
                <th scope="col">Motivo</th>
                <th scope="col">Conductor</th>
                <th scope="col">Recibió Pago</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody id="myTablePen">

              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mda</td>
                <td>Otto</td>
                <td>@mda</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdb</td>
                <td>Otto</td>
                <td>@mda</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdc</td>
                <td>Otto</td>
                <td>@mda</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
            </tbody>
          </table>

          <br><hr><br>

          <div class="alert alert-success" role="alert">
            <div class="row">
              <div class="col">
                <h5>Cuotas</h5>
              </div>
              <div class="col">
                <input class="form-control" id="myInputCuo" type="text" placeholder="Buscar..">
              </div>
            </div>
          </div>

          <table class="table table-sm table-hover">
            <thead class="thead-light">

              <tr>
                <th scope="col">#</th>
                <th scope="col">Unidad</th>
                <th scope="col">Periodo</th>
                <th scope="col">Conductor</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Recibió Pago</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody id="myTableCuo">

              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mda</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdb</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdc</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><i class="fa fa-minus-circle fa-sm" style="color:#FF0000;"></i></td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Logout Modal-->
    {{> logout}}

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <script src="js/amigo_ingresos.js">
    </script>

</body>

</html>
